<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384592613251-vs452b51n0grcafp4348r9aj19gi6u16.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384592613251-vs452b51n0grcafp4348r9aj19gi6u16</string>
	<key>API_KEY</key>
	<string>AIzaSyCeV2_hdaotF_yYyjZR1MNlpr_eCJA9JhA</string>
	<key>GCM_SENDER_ID</key>
	<string>384592613251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onlinedisruptor.aayal</string>
	<key>PROJECT_ID</key>
	<string>aaayal-s-world--ios</string>
	<key>STORAGE_BUCKET</key>
	<string>aaayal-s-world--ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384592613251:ios:db31aa0a16815eec7ff0b6</string>
	<key>DATABASE_URL</key>
	<string>https://aaayal-s-world--ios.firebaseio.com</string>
</dict>
</plist>